<div class="flex flex-col items-center justify-center mx-4 my-8 pt-8">
    <a href="/" class="block mb-6">
        <img src="/img/logo.png" alt="google Logo" class="object-cover block" />

    </a>
    <div class="mb-6 text-2xl text-gray-700 font-bold">
        نتائج البحث عن مراكز إقتراع
    </div>
    <div class="mb-6 text-base text-gray-700">نتائج البحث عن مركز إقتراع بالجملة بالكالمات المفاتاح التالية:
        <b>{{keyword}}</b>
        <div class="text-center mt-3 flex justify-center content-center items-center">
            <a href="#" id="sharebtn"
                class="inline-flex items-center px-6 py-2 text-gray-500 bg-gray-200 rounded-md hover:bg-gray-300 hover:text-gray-700 mx-1">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 ml-2" fill="currentColor">
                        <path
                            d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z" />
                    </svg>
                </span>
                <span>شارك نتيجة البحث</span>
            </a>
            <a href="/"
                class="inline-flex items-center px-6 py-2 text-gray-500 bg-gray-200 rounded-md hover:bg-gray-300 hover:text-gray-700 mx-1">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 ml-2" fill="currentColor">
                        <path
                            d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                    </svg>
                </span>
                <span>إبحث مرة أخرى</span>
            </a>
        </div>
        <div class="mt-4 flex items-center content-center justify-center">
            <div class="fb-share-button" data-href="https://bureauvote.tn/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbureauvote.tn%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
    </div>

    <div class="bg-white rounded-md max-w-5xl w-full">
        <div>
            <div class="overflow-x-auto">
                <div class="w-full  overflow-hidden flex items-center content-center justify-center">
                    <table class="leading-normal hidden md:block border rounded-lg">
                        <thead class="w-auto">
                            <tr class="w-auto">
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    #
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    الولاية
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    الإدارة الفرعية
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    المعتمدية
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    العمادة
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    مركز الإقتراع - عربية
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    مركز الإقتراع - فرنسية
                                </th>
                                <th
                                    class="w-auto px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Code USSD
                                </th>
                            </tr>
                        </thead>
                        <tbody class="w-auto">
                            {{#each result}}
                            <tr class="hover:bg-slate-100 w-auto">
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm">
                                    {{@index}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm">
                                    {{this.[0]}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm">
                                    {{this.[1]}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm">
                                    {{this.[2]}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm">
                                    {{this.[3]}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm">
                                    {{this.[4]}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm" dir="ltr">
                                    {{this.[5]}}
                                </td>
                                <td class="w-auto px-3 py-5 border-b border-gray-200 text-sm text-right" dir="ltr">
                                    {{this.[6]}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>


                    <div class="block md:hidden">
                        {{#each result}}
                        <table class="border rounded mb-4 w-full">
                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    #
                                </td>
                                <td class="p-2">
                                    {{@index}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    الولاية
                                </td>
                                <td class="p-2">
                                    {{this.[0]}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    الإدارة الفرعية
                                </td>
                                <td class="p-2">
                                    {{this.[1]}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    المعتمدية
                                </td>
                                <td class="p-2">
                                    {{this.[2]}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    العمادة
                                </td>
                                <td class="p-2">
                                    {{this.[3]}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    مركز الإقتراع - عربية
                                </td>
                                <td class="p-2">
                                    {{this.[4]}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    مركز الإقتراع - فرنسية
                                </td>
                                <td class="p-2">
                                    {{this.[5]}}
                                </td>
                            </tr>

                            <tr class="border-b border-gray-200 bg-white text-sm">
                                <td class="px-2 py-2 bg-gray-100">
                                    CODE USSD
                                </td>
                                <td class="p-2">
                                    {{this.[6]}}
                                </td>
                            </tr>
                        </table>

                        {{/each}}

                    </div>



                </div>
            </div>
        </div>

        <div class="mt-6">
            <div class="text-sm hidden">
                تم نطوير هذا الموقع: <span class="mr-2 text-blue-700">من طرف إتقان</span>
            </div>
            <div class="text-xs" dir="ltr">
                With respect to all copyright laws, this website is not an official website of ISIE.
                <br><a href="https://www.facebook.com/anefzaoui1/" target="_blank" class="text-blue-600 underline">Ahmed
                    Nefzaoui</a>
            </div>
        </div>

    </div>


    <script>
        var shareButton = document.querySelector('#sharebtn');
        shareButton.addEventListener('click', e => {
            e.preventDefault();
            if (navigator.share) {
                navigator.share({
                    title: '{{{title}}}',
                    url: window.location.href
                }).then(() => {
                    console.log('شكرا على مشاركة الصفحة!');
                })
                    .catch(console.error);
            } else {
                // fallback
            }
        });
    </script>